<main class="main">
  <div class="row">
    <app-logo></app-logo>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <code>{{ format }}</code>
    <p>Supported shapes:</p>
    <ul>
      <li>Isosceles Triangle</li>
      <li>Square</li>
      <li>Scalene Triangle</li>
      <li>Equilateral Triangle</li>
      <li>Pentagon</li>
      <li>Rectangle</li>
      <li>Hexagon</li>
      <li>Heptagon</li>
      <li>Octagon</li>
      <li>Circle</li>
      <li>Oval</li>
    </ul>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <app-shape-form></app-shape-form>
  </div>
</main>
